:root {
  --margin-size: min(150px, 7.5vw);
}

body {
  margin-left: var(--margin-size);
  margin-right: var(--margin-size);
  margin-top: var(--margin-size);
  margin-bottom: var(--margin-size);
  font-family: "Computer Modern Serif";
  font-size: large;
  text-align: justify;
}

h1 {
    text-align: center;
}

.katex {
  font-size: 1em !important;
}

pre {
  margin-left: calc(var(--margin-size)*0.5);
}

img {
  display: block;
  margin: 0 auto;
  max-width: max(40%, 300px);
}
